/*RESETEO*/
*{
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    background-image:url(../assets/img/imagenfondo.jpg);
    background-repeat: repeat;
    background-size: cover;
}
h1{
    color: green;
    font-weight: bold;

}
h2{
    color: red;
    font-weight: bold;

}

li{
    color:red;
}
strong{
    color:green; 
}
.container{
    border: 5px outset }
h1{
    animation: pulso 3s infinite;
}
/*KEYFRAME h1*/

@keyframes pulso{
    0%{
        transform: scale(.7);
        box-shadow: 0,0,0,0
    }
    30%{
        transform: scale(.8);
        box-shadow:0,0,0,0;
    }
    70%{
        transform: scale(.9);
        box-shadow:0,0,0,0;
    }
    100%{
        transform: scale(1);
        box-shadow: 0,0,0,0;

    }
}
