nav{
    ul{
        background-color: black;
        li{
            background-color: rgb(234, 100, 171);
            opacity:10px;
        }
        li:hover{
            background-color: white;

            }

        }
    }