nav{
    ul{
        
        li{
            background-color: rgb(234, 100, 171);
            padding:10px;
            margin:4px ;
        }
        li:hover{
            background-color: $colorH1;

            }

        }
    }