@import 'mixins';
/*AGREGANDO MIXIN A NAV*/
nav{
    ul{ 
        li{

            @include border-radio;
            background-color: $principal;
            padding:10px;
            margin:4px ;
        }
        li:hover{
            background-color: $titulo;
        }
        
    }
}